<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="margin:0 auto; width:610px; font-size: 14px;">
    	<div style="border:none;">
    		<a href="http://weloco.herokuapp.com/" style="border: none;">
               <%= image_tag "http://weloco.herokuapp.com/assets/mail-header.png" %>
            </a>
    	</div>
        <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:21px; color:#000;">Hallo <span style="font-size:14px; font-family:'Times New Roman', Times, serif;">
        	<% @user.name %>, </h1>
    	<div style="float:left; background:#eeeeee; width:580px; padding:10px;">
        	<div style="float:left; width:580px;">
            	<div style="float:left; font-weight:bold; font-family: 'Times New Roman', Times, serif; ">Bedrag:</div>
                <div style="float:left; text-indent:10px;">€ <%= @bid_price %>,-</div>
            </div>
            
        </div>
		<div style="float:left; width:610px; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px 0;">
           Uit veiligheidsoverwegingen zal uw account pas geactiveerd worden als u op onderstaande link klikt of de link naar uw browser kopiëert. 
        </div>
        <div style="float:left; width:580px; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0 0 10px 0;">
        	<%= link_to 'Confirm Bid', @url + new_bid_path(:confirmation_token => @confirm_token) %>
        </div>
        <div style="float:left; width:580px; font-family:Arial, Helvetica, sans-serif; font-size:12px; ">Bedankt dat u gebruik maakt van WELOCO </div>
      <div style="float:left; width:580px; font-family:Arial, Helvetica, sans-serif; font-size:12px; border-bottom:1px solid #cccccc; margin:10px 0; "></div>
        <div style="float:left; width:580px; font-family:Arial, Helvetica, sans-serif; font-size:12px;">
       	  <a href="#" style="color:#0066cc; text-decoration:none;">Heeft u een vraag? Neem contact met ons op.</a> Beantwoord deze e-mail niet.<br /> 
            Ontvangt u deze e-mail in uw spamfolder? Voeg support@weloco.nl toe aan uw lijst met contactpersonen 
        </div>
    </div>
  </body>
</html>
