<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      <a href="http://weloco.herokuapp.com/" style="border: none;">
        <%= image_tag "http://weloco.herokuapp.com/assets/mail-header.png" %>
      </a>
    </h1>
    <p><u><strong>Bedankt voor het raporteren van oplichterij!</strong></u></p>
      <ul>
        <li>Maak je geen zorgen als je per ongeluk een markering hebt aangebracht; er zijn meerdere markeringen nodig om een advertentie te beïnvloeden.</li>
        <li>Ongeveer 5% van alle WELOCO-advertenties wordt verwijderd als gevolg van meldingen van gebruikers.</li>
        <li>90% van deze door markering verwijderde berichten zijn in overtreding met de WELOCO gebruikersvoorwaarden.</li>
      </ul>
    <p>Namens WELOCO en de gehele vrije wereld, danken we u voor het markeren van een advertentie!</p>
  </body>
</html>
