// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid white; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #F6921E;
    color: white;
    border: 1px solid white; }
  .digg_pagination a {
    text-decoration: none;
    color: #F6921E;
    border: 1px solid white; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: white; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

#admin_management
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
border:1px solid black;
}
#admin_management td, #admin_management th 
{
font-size:1em;

padding:3px 7px 2px 7px;
}
#admin_management th 
{

font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#F6921E;
color:#ffffff;
}
