<div class="leftmenu">
    <h1>Verfijn uw resultaten</h1>
    <p>Prijs van/tot</p>
    <input type="text" title="" value="van " class="field narrow"> <input type="text" title="" value="tot" class="field narrow">
    <a href="#"><%= image_tag "go_arrow.png" %></a>
    <h1>Groep en Rubriek</h1>
    <p>Dieren en Toebehoren</p>
    <p><a href="#">Vogels</a> | <a href="#">Hokken en Kooien</a></p>
    <div id="catediv">
      <h1>Conditie</h1>
      <div id="skin_1" class="radiodiv" >
        <input type="radio" name="music" value="1" id="music-1" /><span> Nieuw</span>
        <input type="radio" name="music" value="1" id="music-2" />
        <span> Zo goed als nieuw</span>
        <input type="radio" name="music" value="1" id="music-3" /> <span> Gebruikt</span>
      </div>
      <h1>Type</h1>
      <div id="skin_1" class="radiodiv" >
        <input type="radio" name="music" value="1" id="music-1" />
        <span> Broedkooi of Kweekkooi </span>
        <input type="radio" name="music" value="1" id="music-2" /> <span> Vogelkooi</span>
        <input type="radio" name="music" value="1" id="music-3" /> <span> Volière</span>
        <input type="radio" name="music" value="1" id="music-3" /> <span> Overige typen</span>
      </div>
      <h1>Materiaal</h1>
      <div id="skin_1" class="radiodiv" >
        <input type="radio" name="music" value="1" id="music-1" /> <span> Aluminium  </span>
        <input type="radio" name="music" value="1" id="music-2" /> <span> Hout</span>
        <input type="radio" name="music" value="1" id="music-3" /> <span> Kunststof </span>
        <input type="radio" name="music" value="1" id="music-3" /> <span> Metaal </span> 
        <input type="radio" name="music" value="1" id="music-3" /> <span> Overige materialen</span>
      </div>
      <h1>Levering</h1>
      <div id="skin_1" class="radiodiv" >
        <input type="radio" name="music" value="1" id="music-1" /> <span> Ophalen  </span>
        <input type="radio" name="music" value="1" id="music-2" /> <span> Verzenden </span>
        <input type="radio" name="music" value="1" id="music-3" /> 
        <span> Ophalen of Verzenden</span>
      </div>
      <h1>Aangeboden sinds</h1>
      <div id="skin_1" class="radiodiv" >
        <input type="radio" name="music" value="1" id="music-1" /> <span> Vandaag </span>
        <input type="radio" name="music" value="1" id="music-2" /> <span> Een week </span>
        <input type="radio" name="music" value="1" id="music-3" /> <span> Altijd</span>
      </div>
    </div>
  </div>